@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  rgb(44, 43, 48);
    transition: 0.7s;
    color: rgb(163, 16, 192);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo{
    position: relative;
    max-width: 100px;
    /* filter: invert(2); */
}
header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    position: relative;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.5s;
}

header ul li a:hover{
    color: chartreuse;
}

header ul li a:after {
    content: "";
    position: absolute;
    background-color: chartreuse;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    border-radius: 2px;
    transition: 0.5s;
}
header ul li a:hover:after {
    width: 100%;
}

header ul li.icon{
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 30px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}
header ul li.icon:hover{
    color: chartreuse;
}
.hydrated{
    visibility: inherit;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container .textBox{
    position: relative;
    max-width: 500px;
}

.container .textBox h2{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}
/* .container .textBox h2 span {
    font-size: 2em;
} */

.container .textBox p{
    color: #fff;
    line-height: 1.8em;
}
.container .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
}
.container .textBox a:hover{
    background: chartreuse;
    color: #fff;
}

.container .imgBox{
    display: flex;
    justify-content: flex-end;
    width: 600px;
    padding-right: 10px;
    margin-top: -40px;

}
.container .imgBox img{
    max-width: 550px;
}

.products{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.products li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.products li:hover{
    transform: translateY(-15px);
}

.products li img{
    max-width: 100px;
    
}
.ad1 {

    padding-top: 17px;
}
.ad2 {

    padding-top: 10px ;
}
.ad3 {
    width: 80px;
    padding-top: 40px;
}
.ad4 {

    padding-top: 35px;
}
.social{
    position: absolute;
    top: 50%;
    left: 1300px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social li{
    list-style: none;
}
.social li a{
    display: inline-block;
    color: #fff;
    margin: 15px 0;
    margin-right: 10px;
    transform: scale(1.6);
    transition: 0.3s;
}
.social li a:hover{
    transform: scale(1.9);
}
